<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <title>Welcome to Overwatch Wiki!</title>
</head>

<body>
    <h1>
        Welcome to Overwatch Wiki!
    </h1>
    <form action="/search_type" method="POST">
        <p>
            What do you want to search for?<br>
            <input type="radio" name="search_option" value="heroes">1. Heroes<br/>
            <input type="radio" name="search_option" value="abilities">2. Abilities<br/>
            <input type="radio" name="search_option" value="comparison">3. Heroes comparison<br/>
        </p>

        <input type="submit" value="Search"/>
    </form>
</body>

</html>